/* CSS goes here */

* {
    box-sizing: border-box;
}


body {
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
   background-repeat: no-repeat; 
   background: url("images/background_pic.jpg");
   background-position: center;
   background-size: cover;
}

.container {
   height: 100%;
   width: 100%;
}

.search_container {
    position: absolute;
    top: 35%;
    left: 43%;
}


#search_input {
    display: inline-block;
    text-align: center;
}