* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
   background: url(./images/runningtrail.jpg);
   background-repeat: repeat-y; 
   background-position: 0 40%;
   background-size: cover;
   background-attachment: fixed;
   overflow: hidden;
}

.container {
   position: relative;
   height: 100%;
   width: 100%;
}

.form-inline {
    position: absolute;
    top: 55vh;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.map_page_logo{
    height: 7vh;
    padding: 8px 0;
}

#search_input {
    width: 35vw;
    font-size: 1.2rem;
    height: 7vh;
    padding: 5px 0;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: inset 1px 1px 10px rgb(90, 89, 89);
    outline: none;
    border-radius: 5px;
}

#runButton {
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: none;
    background-image: linear-gradient(to right,#9ACC61, #2aa8c3);
    box-shadow: 0 5px 2px #30A3C5;
    color: white;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px rgb(87, 100, 104);
    white-space: nowrap;
}

.search_and_logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6299d1f6;
    height: 5vh;
}

.search_bar{
    height: 60%;
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: white;
}

#search_field{
    width: 50vw;
    height: 70%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 0;
    font-size: 1rem;
    color: black;
    outline: none;
}

.search_button{
    height: 60%;
    cursor: pointer;
    position: relative;
}

::placeholder { 
    color: gray; /* Firefox */
    opacity: 1;
}

 .input-group-btn {
    display: inline-block;
 }

.logo {
    position: relative;
    top: 30vh;
    left: 52vw;
    transform: translate(-50%,-50%);
    text-align: center;
}


#info_msg {
    font-size: 0.5em;
    font-weight: bold;
    font-style: italic;
    color: #351706e5;
    text-align: center;
    width: 40%;
    position: relative;
    left: 25%;
}

.information {
    margin-top: 1%;
    padding: 1% 3%;
    background-color: white;
    opacity: 0.7;
    align-content: center;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 1px 5px rgb(4, 109, 26);
}

.weather_tab {
    font-size: 4rem;
    color: black;
}

.map_and_search_result_message {
    height: 90vh;
}

.map_page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#map_area{
    height: 90vh;
    left: 1vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2vh;
    width: 50vw;
    box-shadow: 5px 10px 18px black;
    /* display: inline-block; */
}

.map_and_trail_list{
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
}

.container_tabs{
    top:103px;
    position: absolute;
    width: 46vw;
    right: 1vw;
    height: 88vh;
    margin-right: 2px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.results_list {
    position: absolute;
    width: 46vw;
    right: 0;
    height: 100vh;
    margin-right: 2px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.meetup_tab{
    background-color: white;
    color: black;
}

.single_location_detail{
    margin-right: 0.1vw;
    position: relative;
}

a{
    font-size: 1rem;
}

.weather_list{
    background-color: whitesmoke;
    width: 100vw;
    right: 1vw;
    margin: auto;
    font-size: 1.5rem;
    box-shadow: 5px 5px 18px black;
    opacity: 0.95;
    padding: 2% 5% 8%;
    list-style-type: none;
}

.weather_list>div {
    border-bottom: 1px black solid;
    font-family: 'Quicksand';
    margin-top: 1%;
    font-weight: bold;
    font-size: 1.4em;
}

.weather_list>li {
    font-size: 0.8em;
}

.weather_list>li:nth-child(3)>img {
    border: 1px solid silver;
}

.weather_list>div+li {
    text-align: right;
    color: rgb(78, 92, 107);
    padding-bottom: 10px;
}

/* .weather_list>li>img {
    vertical-align: middle;
} */

.weather_list>li:nth-child(1n+2) {
    line-height: 1.7;
}

.weather_icon {
    margin-right: 2%;
    vertical-align: middle;
}

.events{
    background-color: whitesmoke;
    width: 100%;
    padding: 3%;
    margin-bottom: 2%;
    font-size: 1rem;
    opacity: 0.95;
    box-shadow: 5px 5px 9px black;
}

.groupName{
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Search List Result Box */
.list_result {
    display: flex;
    height: 215px;
    background-color: whitesmoke;
    padding: 1.5%;
    margin-bottom: 1.6%;
    font-size: 2.4rem;
    opacity: 0.97;
    box-shadow: 5px 10px 18px black;
}

.list_result:hover {
    opacity: 1;
    box-shadow: 7px 12px 20px black;
}

.selected {
    background-color: #faf5da;
}

.address{
    white-space: nowrap;
}

.description {
    background-color: whitesmoke;
    padding: 2% 2% 5%;
    margin: auto;
    font-size: 1.2rem;
    box-shadow: 5px 10px 18px black;
}

.description img{
    max-height: 40vh;
    margin-bottom:3%;
}

.description>div {
    padding: 3px 2%;
}

.trailName{
    font-family: 'Quicksand';
    margin-top: 1%;
    font-weight: bold;
    font-size: 1.6em;
}

/* Nav Bar */
.nav_tabs {
    position: absolute;
    right: 1.2vw;
    display: flex;
    flex-wrap: nowrap;
    width: 46vw;
}

.tabLinks {
    display: inline-block;
    width: 20.2%;
    color: white;
    background-color: #1976d2;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0.7rem;
    line-height: 40px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tabLinks:hover {
    font-weight: bolder;
}

.currentTab{
    background-color:#003cb3;
}

.hidden{
    display: none;
}

.locationPicture {
    display: inline-block;
    width: 10vw;
    height: 10vw;
}

.locationDescription {
    padding: 0 3%;
    font-size: 1rem;
    position: relative;
}

.locationDescription>p {
    font-size: 1.3rem;
    margin-top: 0;
    font-weight: bolder;
}

@keyframes loadingPeople {
    0% {left: 37%; top: 50%;}
    30% {left: 42%; top: 48%;}
    75% {left: 47%; top: 50%;}
    100% {left: 55%; top: 48%;}
}

.loadingImg{
    width: 22%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    z-index: 99;
    animation-name: loadingPeople;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#runningMan, #runningWoman{
    display: inline-block;
    width: 40%;
}

#direction_container{
    background-color: whitesmoke;
    width: 100%;
    min-height: 90vh;
    padding: 2%;
    margin: auto;
    position: relative;
    font-size: 1rem;
    box-shadow: 5px 10px 18px black;
    opacity: 0.95;
}

#direction_container>tr>td:nth-child(2) {
    white-space: nowrap;
    text-align: right;
    padding-left: 70px;
}

#direction_container>tr:nth-child(1n+4) {
    line-height: 2;
}

#direction_container>tr>td>div {
    padding-left: 20px;
    color: blue;
}

.btn {
    cursor: pointer;
    text-decoration: none;
    color: #F2F2F2;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-blue {
    background-color: #092a68;
    color: white;
    border-radius: 5px;
    margin-top: 28%;
    position: absolute;
    bottom: 5px;
}

.btn-blue:hover {
    background-color: #003cb3;
}

.no-result{
    top: 2vh;
    position: relative;
    font-size: 1.5rem;
}

.container_tabs::-webkit-scrollbar {
    width: 10px;
    background: none;
} 

.results_list::-webkit-scrollbar {
    width: 10px;
    background: none;
}

.container_tabs::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6299d1f6; 
}

.results_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6299d1f6; 
}

.container_tabs:hover, .container_tabs:active, .container_tabs:focus {
    overflow-y: auto;
}

.results_list:hover, .results_list:active, .results_list:focus {
    overflow-y: auto;
}

.zIndex {
    z-index: 5;
}

/*************************
Media Query
**************************/

/* --- most Smartphones (portrait)  --- */
@media all and (max-width: 480px){
    body{
        background-position: -132px 40%;
    }
    
    .form-inline {

    }
    
    .map_page_logo{
        height: 3vh;
        padding: 0;
    }
    
    #search_input {
        width: 88vw;
        font-size: 1.2rem;
        left: 1.75vw;
        position: relative;
    }
    
    #runButton {
        width: 29%;
        height: 94%;
        font-size: 1rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 80px;
    }

    
    .search_bar{ /* edited */
        height: 60%;
        width: 65vw;
    }
    
    #search_field{
        font-size: 0.85rem;
    }
    
    .search_button{
        height: 60%;
        cursor: pointer;
        position: relative;
    }

     .input-group-btn {
        display: inline-block;
     }
    
    .logo {
        width: 90vw;
    }
    
    
    #info_msg {

    }
    
    .information {

    }
    
    .weather_tab {
        font-size: 4rem;
        color: black;
    }
    
    .map_and_search_result_message {
        height: 90vh;
    }
    
    .map_page{

    }
    
    #map_area{
        width: 100vw;
        height: 50vh;
        left: 0;
    }
    
    .map_and_trail_list{
        display: flex;
        justify-content: space-between;
        min-height: 95vh;
    }
    
    .container_tabs{
        top: 519px;
        position: absolute;
        width: 100vw;
        right: 0;
        margin-right: 0;
    }
    
    .results_list {
        top: 59vh;
        width: 100vw;
        min-height: 50vh;
        right: 0;
        margin-right: 0;
    }
    
    .meetup_tab{
        background-color: white;
        color: black;
    }
    
    .single_location_detail{
        margin-right: 0.1vw;
        position: relative;
    }
    
    a{
        font-size: 1rem;
    }
    
    .weather_list{

    }
    
    .weather_list>div {

    }
    
    .weather_list>li {
        font-size: 0.8em;
    }
    
    .weather_list>li:nth-child(3)>img {
        border: 1px solid silver;
    }
    
    .weather_list>div+li {
        text-align: right;
        color: rgb(78, 92, 107);
        padding-bottom: 10px;
    }
    
    .weather_list>li:nth-child(1n+2) {
        line-height: 1.7;
    }
    
    .weather_icon {
        margin-right: 2%;
        vertical-align: middle;
    }
    
    .events{

    }
    
    .groupName{

    }
    
    /* Search List Result Box */
    .list_result {

    }
    
    .address{
        white-space: nowrap;
    }
    
    .description {

    }
    
    .description img{
        max-height: 40vh;
        margin-bottom:3%;
    }
    
    .description>div {
        padding: 3px 2%;
    }
    
    .trailName{

    }
    
    /* Nav Bar */
    .nav_tabs {
        right: 0;
        width: 100vw;
        top: 59vh;
    }
    
    .tabLinks {

    }
    
    .tabLinks:hover {
        font-weight: bolder;
    }
    
    .currentTab{
        background-color:#003cb3;
    }
    
    .locationPicture {
        width: 38vw;
        height: 38vw;
    }
    
    .locationDescription {

    }
    
    .locationDescription>p {

    }
    
    .loadingImg{

    }
    
    #runningMan, #runningWoman{

    }
    
    #direction_container{

    }
    
    #direction_container>tr>td:nth-child(2) {
        white-space: nowrap;
        text-align: right;
        padding-left: 70px;
    }
    
    #direction_container>tr:nth-child(1n+4) {
        line-height: 2;
    }
    
    #direction_container>tr>td>div {
        padding-left: 20px;
        color: blue;
    }
    
    .btn {
    }

    
    .no-result{
        top: 2vh;
        position: relative;
        font-size: 1.5rem;
    }
    
    .container_tabs::-webkit-scrollbar {
        width: 10px;
        background: white;
    } 
    
    .results_list::-webkit-scrollbar {
        width: 10px;
        background: none;
    }
    
    .container_tabs::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #6299d1f6; 
    }
    
    .results_list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #6299d1f6; 
    }
    
    .container_tabs:hover, .container_tabs:active, .container_tabs:focus {
        overflow-y: auto;
    }
    
    .results_list:hover, .results_list:active, .results_list:focus {
        overflow-y: auto;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    body{
        background-position: 0 0;
    }
    #search_input{
        width: 90vw;
    }
    #runButton{
        width: 29%;
        height: 109%;
        font-size: 1rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 80px;
    }
}


@media all and (min-width: 768px) and (max-width: 1024px) {
    .col-2 {
        margin: 0 10%;
    }
}

/* --- Laptops and Desktops --- */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* body {
        background-position: 20% 40%;
    }

    .logo {
        top: 32vh;
        left: 56vw;
        width: 35%;
    }

    #search_input {
        font-size: 1.3rem;
    }

    #runButton {
        font-size: 1.1rem;
        padding: 2%;
    }

    .search_and_logo{
        display: flex;
        justify-content: space-around;
        background-color: #6299d1f6;
        height: 63px;
    }

    .map_page_logo{
        height: 61px;
        padding: 8px 0;
    }

    .search_button {
        height: 35px;
        cursor: pointer;
        margin-left: 10px;
    } */
}

/* --- Desktops 1281px to higher --- */
@media (min-width: 1281px) {
    
    
    /* .search_and_logo{
        display: flex;
        justify-content: space-around;
        background-color: #6299d1f6;
        height: 63px;
    }

    .map_page_logo{
        height: 61px;
        padding: 8px 0;
    }

    .search_button {
        /* height: 35px; */
        cursor: pointer;
        margin-left: 10px;
    } */
}
